<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmritiRaksha"
        tools:targetApi="31">
        <activity
            android:name=".Patient.Games.memoryGameSplash"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.auth.api.fitness"
            android:resource="@raw/fitness_client_secrets" />

        <activity
            android:name=".Patient.Games.Patient_Mem_Game"
            android:exported="false" />
        <activity
            android:name=".Patient.PatientLocation"
            android:exported="false" />
        <activity
            android:name=".CareTaker.MedicalSchedule"
            android:exported="false" />

        <activity
            android:name=".Patient.Games.Wordsearchsplash"
            android:exported="false" />
        <activity
            android:name=".Patient.Games.Word_Search_Game"
            android:exported="false" />
        <activity
            android:name=".CareTaker.guidesMainActivity"
            android:exported="false" />
        <activity
            android:name=".Patient.Games.LogicPuzzleActivity"
            android:exported="false" />
        <activity
            android:name=".Patient.Games.LogicPuzzleSplash"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GMap_APIKEY" />

        <activity
            android:name=".Doctor.Doctor_registration"
            android:exported="false" />
        <activity
            android:name=".Patient.select_patients"
            android:exported="false" />
        <activity
            android:name=".Patient.MainActivity"
            android:exported="false" />
        <activity
            android:name=".CareTaker.guideRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".Registration"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Patient.patient"
            android:exported="false" />
        <activity
            android:name=".Patient.Games.sudokuSplash"
            android:exported="false" /> <!-- Sudoku Activity -->
        <activity
            android:name=".Patient.Games.sudoku"
            android:exported="false" />
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Patient.Games.SuccessActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>